@import "../base/color";

.backline {
  .backline-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    padding: 20px 0;
  }
  .backline-body {

  }
  .backline-header {
    display: inline-block;
    margin: 0;
    padding: 20px;
    background: $gold;
    color: $black;
  }
  .backline-packages {
    h3 {
      text-align: center;
      background: $gold;
      padding: 20px;
    }
  }
  .backline-media {
    h3{
      display: inline-block;
      margin: 0;
      padding: 20px;
      background: $gold;
      color: $black;
      float: right;
    }
    #carouselExampleCaptions {
      background: transparent;
      border: solid 5px $grey;
      border-radius: 2%;
      img {
        width: 100%;
        height: 400px;
        object-fit: scale-down;
        padding: 20px 0;
      }
      .carousel-caption{
        h5{
          background-color: $gold;
          padding: 20px;
          opacity: 0.8;
          color: $black;
          display: inline-block;
        }
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        background-image: none;
      }
      .carousel-control-next-icon:after
      {
        content: '>';
        font-size: 55px;
        color: $gold;
      }

      .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: $gold;
      }
    }
  }
  .recent-shows{
    h3{
      display: inline-block;
      margin: 0;
      padding: 20px;
      background: $gold;
      color: $black;
      float: left;
    }
  }
}