@import "../base/color";

#contact_form {
  .first, .last{
    display: inline-block;
    float: left;
  }
  .form-group{
    margin: 0;
    .input-group{
      input, textarea{
        width: 100%;
        min-width: 220px;
        max-width: 220px;
        margin: 10px 0;
      }

    }
  }
  #success_message {
    display: none;
  }
}
