@import "../base/color";

.header-img{
  img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

.home {
  .row {
    .home-header{
      display: inline-block;
      margin: 0;
      padding: 20px;
      background: $gold;
      color: $black;
    }
    .about-homepage {
      h3 {

      }
      p {

      }
    }
    .artist-homepage {
      h3 {
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          text-align: center;
          list-style: none;
          padding: 10px;
          margin: 5px 0;
          background: $gold;
          p{
            line-height: initial;
            color: $black;
            margin: 0;
            padding: 10px;
          }
          &:hover{
            background: $black;
            p{
              color: $gold;
            }
          }
        }
      }
    }
  }
}