// Importing the base elements
@import "base/color";
@import "base/footer";
@import "base/navbar";
@import "base/pagination";

// Importing the page styles
@import "pages/home";
@import "pages/shows";
@import "pages/contact";
@import "pages/artists";
@import "pages/bands";
@import "pages/backline";
@import "pages/media";

body {
  background: $textcolor;
  .row {
    margin: 0;
  }
}
#content{
  background: white;
  padding-bottom: 50px;
}

a {
  color: $gold;
  line-height: 70px;
  &:hover {
    color: $textcolor;
    text-decoration: none;
  }
}

.featureImage {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
