{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{% if title is defined %}{{ title }}{% endif %}</h1>
        <p class="lead text-muted">News of Big Lion Promotions!</p>
    </div>
</section>
<div class="container shows">
    {% paginate craft.entries.section('news').limit(6) as pageInfo, pageEntries %}

    <div class="row">
        {% for entry in pageEntries %}
        <div class="col-md-6">
            <div class="header-show">
                {# Fetches the first image #}
                {% set image = entry.newsImage.first() %}
                {% if image %}
                <a href="{{ entry.url }}">
                    <img class="featureImage" src="{{ image.url }}" alt="">
                    {% endif %}
                    <h3 class="centered"><span>{{ entry.title }}</span></h3>
                </a>
            </div>
            <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
            {{ entry.body.getPage(1)|striptags|slice(0,150)|default('Read more') }}...
            <p><a href="{{ entry.url }}">Continue reading</a></p>
        </div>
        {% endfor %}
    </div>

    {% if pageInfo.total > 6 %}
    <div class="row pagination">
        <div class="col-md-4 next">
            {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}"><i class="fas fa-caret-square-right"></i> Next
            Page</a>{%
            endif %}
        </div>
        <div class="col-md-4">
            <p class="current-page">Current Page
                {{ pageInfo.currentPage }}
            </p>
        </div>
        <div class="col-md-4 prev">
            {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}"><i class="fas fa-caret-square-left"></i> Previous
            Page</a>{%
            endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
