.footer {
  background-color: darkgrey; }
  .footer .foot {
    margin-bottom: 40px; }
    .footer .foot .contact {
      color: white;
      padding: 20px; }
      .footer .foot .contact ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer .foot .contact ul li p span {
          color: #FFDD00;
          font-style: italic; }
    .footer .foot .social {
      padding: 20px;
      color: white; }
      .footer .foot .social ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer .foot .social ul li {
          display: inline-block; }
          .footer .foot .social ul li a {
            background: #000000;
            padding: 20px;
            color: #FFDD00; }
            .footer .foot .social ul li a:hover {
              background: #FFDD00;
              color: #000000;
              text-decoration: none; }
  .footer .footer-copyright {
    background-color: #000000; }
    .footer .footer-copyright .main-footer {
      color: white;
      text-align: center;
      padding: 10px; }

#results {
  display: none; }
  #results ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #results ul li {
      margin: 0;
      padding: 5px; }
      #results ul li a {
        color: #FFDD00;
        line-height: normal; }
        #results ul li a:hover {
          color: #ffffff; }
  #results #no-results-message p {
    color: #ffffff; }

.bg-light {
  background-color: #000000 !important;
  padding: 0; }
  .bg-light form input {
    width: 100%ft; }
  .bg-light img {
    width: 100%;
    padding: 20px; }
  .bg-light h1 {
    font-weight: lighter;
    font-size: 80px;
    max-width: 500px;
    color: #FFDD00;
    line-height: 80px; }
    .bg-light h1 .promotions {
      color: #FFDD00;
      font-size: 60px;
      font-weight: 400; }
  .bg-light form input {
    margin: 5px; }
  .bg-light form .btn-outline-success {
    color: #FFDD00;
    border-color: #FFDD00;
    margin: 5px; }
    .bg-light form .btn-outline-success:hover {
      background-color: #FFDD00;
      border-color: #FFDD00;
      color: #000000; }

.bg-dark {
  padding: 0;
  background-color: darkgrey !important; }
  .bg-dark .nav-item {
    transition: all 0.3s; }
    .bg-dark .nav-item a {
      color: #FFDD00;
      margin: 0 20px;
      text-align: center;
      font-size: 20px;
      transition: all 0.3s; }
    @media screen and (max-width: 991px) {
      .bg-dark .nav-item a {
        font-size: 15px;
        margin: 0 15px; } }
    .bg-dark .nav-item:hover {
      background-color: #FFDD00; }
      .bg-dark .nav-item:hover a {
        color: #000000; }
  .bg-dark .navbar-toggler-icon {
    color: #FFDD00;
    font-size: 40px;
    margin-top: 15px; }

.pagination .current-page {
  text-align: center;
  line-height: 70px;
  font-weight: bold; }

.pagination .next, .pagination .prev {
  text-align: center; }

.social ul {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .social ul li {
    display: inline-block; }
    .social ul li a {
      margin-right: 10px;
      background: darkgrey;
      padding: 10px; }

.header-img img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 20px; }

.home .row .home-header {
  display: inline-block;
  margin: 0;
  padding: 20px;
  background: #FFDD00;
  color: #000000; }

.home .row .artist-homepage ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .home .row .artist-homepage ul li {
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background: #FFDD00; }
    .home .row .artist-homepage ul li p {
      line-height: initial;
      color: #000000;
      margin: 0;
      padding: 10px; }
    .home .row .artist-homepage ul li:hover {
      background: #000000; }
      .home .row .artist-homepage ul li:hover p {
        color: #FFDD00; }

.shows .header-show {
  position: relative;
  text-align: center;
  color: white;
  margin: 10px; }
  .shows .header-show .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 0.7s; }
    .shows .header-show .centered span {
      color: #FFDD00;
      display: inline-block;
      margin-top: 80px;
      transition: all 0.7s; }
    .shows .header-show .centered:hover {
      background-color: #FFDD00;
      opacity: 0.9; }
      .shows .header-show .centered:hover span {
        color: #000000; }

.shows p a {
  background: black;
  padding: 15px; }
  .shows p a:hover {
    background-color: #FFDD00;
    border-color: #FFDD00;
    color: #000000; }

.show-detail {
  padding-top: 20px; }
  .show-detail img {
    object-fit: cover;
    width: 100%;
    height: 300px; }
  .show-detail article h1 {
    background: black;
    color: #FFDD00;
    padding: 10px;
    width: 100%;
    font-size: 30px;
    display: inline-block;
    margin-top: 10px; }

#contact {
  background-color: #ffffff; }
  #contact .contact-content {
    margin-top: 3em; }
  #contact .contact-form label {
    font-weight: 300;
    font-size: 21px; }
  #contact .contact-form input {
    display: block;
    margin-bottom: 40px;
    border: 0;
    background: 0 0;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    outline-color: transparent; }
    #contact .contact-form input:focus {
      border-color: black;
      transition: all .4s ease-in-out; }
  #contact .contact-form textarea {
    height: 120px;
    resize: none;
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    outline-color: transparent; }
    #contact .contact-form textarea:focus {
      border-color: black;
      transition: all .4s ease-in-out; }
  #contact form {
    padding: 0 60px; }
    #contact form .butt-msg {
      margin-top: 40px; }
      #contact form .butt-msg input {
        text-decoration: none;
        color: white;
        background-color: black;
        font-size: 25px;
        padding: 10px 20px;
        border: 1px solid black;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out; }
        #contact form .butt-msg input:hover {
          border: 1px solid black;
          background-color: transparent;
          color: black; }

.error {
  display: none;
  padding: 10px;
  color: #d8000c;
  border-radius: 4px;
  font-size: 13px;
  background-color: #ffbaba; }

.success {
  background-color: #00c7fc;
  border-radius: 4px;
  color: #ffffff;
  display: none;
  font-size: 13px;
  padding: 10px; }

.artists .header-artist {
  position: relative;
  text-align: center;
  color: white;
  margin: 10px; }
  .artists .header-artist img {
    max-width: 100%;
    transition: all 0.3s;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .artists .header-artist .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #FFDD00;
    height: 100%;
    transition: all 0.3s; }
    .artists .header-artist .centered span {
      transform: translate(-50%, -50%);
      position: absolute;
      margin-top: 100px;
      width: 100%; }
  .artists .header-artist:hover img {
    transform: scale(1.1);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }
  .artists .header-artist:hover .centered {
    width: 110%;
    height: 110%;
    font-size: 2.2rem; }
    .artists .header-artist:hover .centered span {
      width: 100%; }

.artists p a {
  background: black;
  padding: 15px; }
  .artists p a:hover {
    background-color: #FFDD00;
    border-color: #FFDD00;
    color: #000000; }

.artist h1, .spotify h1, .youtube h1, .soundcloud h1 {
  display: inline-block;
  margin-top: 20px;
  font-size: 2.2em;
  background: darkgrey;
  color: white;
  padding: 10px;
  width: 70%;
  text-align: center; }

.artist h3, .spotify h3, .youtube h3, .soundcloud h3 {
  display: inline-block;
  padding: 13px;
  background: #FFDD00;
  color: #000000;
  margin: 20px 0; }

.artist .profession, .spotify .profession, .youtube .profession, .soundcloud .profession {
  background-color: #FFDD00;
  padding: 20px 0;
  font-size: 15px;
  margin-top: 20px;
  width: 25%;
  text-align: center;
  float: right;
  color: #000000;
  font-style: italic;
  font-weight: bold; }

.artist p, .spotify p, .youtube p, .soundcloud p {
  margin-top: 10px; }

.artist .shows, .artist .bands, .spotify .shows, .spotify .bands, .youtube .shows, .youtube .bands, .soundcloud .shows, .soundcloud .bands {
  margin-top: 20px; }
  .artist .shows h3, .artist .bands h3, .spotify .shows h3, .spotify .bands h3, .youtube .shows h3, .youtube .bands h3, .soundcloud .shows h3, .soundcloud .bands h3 {
    background-color: #FFDD00;
    color: #000000;
    padding: 20px;
    display: inline-block;
    margin: 0 auto; }
  .artist .shows img, .artist .bands img, .spotify .shows img, .spotify .bands img, .youtube .shows img, .youtube .bands img, .soundcloud .shows img, .soundcloud .bands img {
    padding: 10px 0; }

.artist .avatar, .spotify .avatar, .youtube .avatar, .soundcloud .avatar {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  padding: 20px; }

@media (max-width: 768px) {
  .artist .avatar, .spotify .avatar, .youtube .avatar, .soundcloud .avatar {
    padding: 0; } }

.bands .header-bands {
  position: relative;
  text-align: center;
  color: white;
  margin: 10px; }
  .bands .header-bands img {
    max-width: 100%;
    transition: all 0.3s;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .bands .header-bands .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #FFDD00;
    height: 100%;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s; }
    .bands .header-bands .centered span {
      transform: translate(-50%, -50%);
      position: absolute;
      margin-top: 100px; }
  .bands .header-bands:hover img {
    transform: scale(1.1);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }
  .bands .header-bands:hover .centered {
    width: 110%;
    height: 110%;
    font-size: 2rem; }

.bands p a {
  background: black;
  padding: 15px; }
  .bands p a:hover {
    background-color: #FFDD00;
    border-color: #FFDD00;
    color: #000000; }

.bands h1 {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
  margin-top: 20px;
  background-color: #FFDD00;
  min-width: 100%;
  text-align: center;
  color: #000000; }

.bands .body {
  margin: 20px 0; }

.bands .artists h3, .bands .shows h3 {
  background-color: #FFDD00;
  color: #000000;
  padding: 20px;
  display: inline-block;
  margin: 0 auto; }

.bands .artists img, .bands .shows img {
  margin: 20px 0;
  padding: 10px; }

.bands .avatar {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  background: transparent; }

@media (max-width: 768px) {
  .spotify-col {
    padding: 0; } }

.backline .backline-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  padding: 20px 0; }

.backline .backline-header {
  display: inline-block;
  margin: 0;
  padding: 20px;
  background: #FFDD00;
  color: #000000; }

.backline .backline-packages h3 {
  text-align: center;
  background: #FFDD00;
  padding: 20px; }

.backline .backline-media h3 {
  display: inline-block;
  margin: 0;
  padding: 20px;
  background: #FFDD00;
  color: #000000;
  float: right; }

.backline .backline-media #carouselExampleCaptions {
  background: transparent;
  border: solid 5px darkgrey;
  border-radius: 2%; }
  .backline .backline-media #carouselExampleCaptions img {
    width: 100%;
    height: 400px;
    object-fit: scale-down;
    padding: 20px 0; }
  .backline .backline-media #carouselExampleCaptions .carousel-caption h5 {
    background-color: #FFDD00;
    padding: 20px;
    opacity: 0.8;
    color: #000000;
    display: inline-block; }
  .backline .backline-media #carouselExampleCaptions .carousel-control-prev-icon,
  .backline .backline-media #carouselExampleCaptions .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none; }
  .backline .backline-media #carouselExampleCaptions .carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #FFDD00; }
  .backline .backline-media #carouselExampleCaptions .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #FFDD00; }

.backline .recent-shows h3 {
  display: inline-block;
  margin: 0;
  padding: 20px;
  background: #FFDD00;
  color: #000000;
  float: left; }

.media .media-image {
  width: 100%;
  padding: 20px 0; }

.media #carouselExampleCaptions {
  background: black;
  width: 100%; }
  .media #carouselExampleCaptions img {
    width: 100%;
    height: 600px;
    object-fit: scale-down;
    padding: 20px 0; }
  .media #carouselExampleCaptions .carousel-caption h5 {
    background-color: #FFDD00;
    padding: 20px;
    opacity: 0.8;
    color: #000000;
    display: inline-block; }

body {
  background: #000000; }
  body .row {
    margin: 0; }

#content {
  background: white;
  padding-bottom: 50px; }

#media-content {
  background: #000000;
  padding-bottom: 50px; }

a {
  color: #FFDD00;
  line-height: 70px; }
  a:hover {
    color: #000000;
    text-decoration: none; }

.col-centered {
  float: none;
  margin: 0 auto; }

.no-padding {
  padding: 0; }

.featureImage {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 200px;
  transition: all 0.3s; }
  .featureImage:hover {
    transform: scale(1.1); }

.jumbotron {
  background-color: #e1e1e1; }
