{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}
{% set title = "Media" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{% if title is defined %}{{ title }}{% endif %}</h1>
        <p class="lead text-muted">Media of Big Lion Promotions!</p>
    </div>
</section>
<div class="container media">

    <div class="row">
        {% for image in entry.mediaImage %}
        <div class="col-md-6">
            <img class="media-image" src="{{ image.url }}" alt="">
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
