<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}"/>
    <!--Import Google Icon Font-->

    {# Tell the browser to cache this page for 30 days #}
    {% set expiry = now|date_modify('+30 days') %}

    {% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
    {% header "Pragma: cache" %}
    {% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% includeCssFile "/assets/styles/style.css" %}
</head>
<body>
<nav class="navbar navbar-expand-md bg-light">
    <div class="container">
        <div class="col-md-7">
            <h1>
                <span class="big">Big</span>
                <span class="lion">Lion</span>
                <span class="promotions">Promotions</span>
            </h1>
        </div>
        <div class="col-md-5">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-md bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="{{siteUrl}}">Home <span
                        class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl }}bands">Bands</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl }}artists">Artists</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl}}backline">Backline</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl }}shows">Shows</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl }}media">Media</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ siteUrl }}contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% if craft.request.lastSegment == "media" %}
<main id="media-content" role="main">
{% else %}
<main id="content" role="main">
{% endif %}
    {% block content %}
    {% endblock %}
</main>


<footer class="page-footer footer">
    <div class="container foot">
        <div class="row">
            <div class="contact col-md-5">
                <h5>Contact info</h5>
                <ul>
                    <li><p><i class="fas fa-map-marker"></i> Adress: <span>234 Wall Street East Newyork, NY 20001</span>
                    </p>
                    </li>
                    <li><p><i class="fas fa-phone-square"></i> Telephone: <span>1800 1234 5678</span>
                    </li>
                    <li><p><i class="fas fa-envelope-square"></i> Email: <span>info@biglionevents.com</span>
                    </li>
                </ul>
            </div>
            <div class="social col-md-7">
                <h5>Social Media</h5>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                    <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    </li>
                    <li><a href="#"><i class="fab fa-soundcloud"></i> Soundcloud</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright fixed-bottom">
        <div class="container">
            <footer id="footer" class="main-footer">
                Copyright {{ now.year }} {{ craft.request.serverName }}. All rights reserved
            </footer>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="{{ siteUrl}}assets/js/contact.js"></script>
<script src="{{ siteUrl}}assets/js/carousel.js"></script>
</body>
</html>
