{% extends "_layout" %}

{% block content %}
<div class="container home">
    <div class="row">
        <div class="col-md-12">
            {# Fetches the first image #}
            {% set image = entry.featureImage.first() %}
            {% if image %}
            <img class="home-image" src="{{ image.url }}" alt="">
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h1 class="home-header">{{ entry.title }}</h1>
            <div class="about-homepage">
                <h3 class="my-3">About Big Lion</h3>
                <p>{{ entry.body }}</p>
            </div>
        </div>
        <div class="col-md-3 artist-homepage">
            <h4 class="my-3">Recently added artists</h4>
            <ul>
                {% for entry in craft.entries.section('artists').limit(4).find() %}
                <a href="{{ entry.url }}"><li><p>{{ entry.title }}</p></li></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <!-- Related Projects Row -->
        <h3 class="col-md-12 ">Recent shows</h3>

        {% for entry in craft.entries.section('shows').limit(4).find() %}
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="{{ entry.url }}">
                {# Fetches the first image #}
                {% set image = entry.showsImage.first() %}
                {% if image %}
                <img class="featureImage" src="{{ image.url }}" alt="">
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
