{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://craftcms.com/docs/routing
#}

{% extends "_layout" %}
{% set title = "Artists" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{% if title is defined %}{{ title }}{% endif %}</h1>
        <p class="lead text-muted">Artists of Big Lion Promotions!</p>
    </div>
</section>
<div class="container">
    <div class="row artists">
        {% for entry in craft.entries.section('artists').find() %}
        <div class="col-md-4">
            <a href="{{ entry.url }}">
                <article class="header-artist">
                    {# Fetches the first image #}
                    {% set image = entry.artistImage.first() %}
                    {% if image %}
                    <img class="featureImage" src="{{ image.url }}" alt="">
                    {% endif %}
                    <h3 class="centered">{{ entry.title }}</h3>
                </article>
            </a>
        </div>
        {% endfor %}
    </div>

    {% if pageInfo.total > 9 %}
    <div class="row pagination">
        <div class="col-md-4 next">
            {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}"><i class="fas fa-caret-square-right"></i> Next
            Page</a>{%
            endif %}
        </div>
        <div class="col-md-4">
            <p class="current-page">Current Page
                {{ pageInfo.currentPage }}
            </p>
        </div>
        <div class="col-md-4 prev">
            {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}"><i class="fas fa-caret-square-left"></i> Previous
            Page</a>{%
            endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
